/* banner style */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
   
}
/* Background image */
.banner{
    margin-bottom: 140px;
    width: 1600px;
    height: 808px;
    display: flex;
    background-repeat: no-repeat;
    background-image:url('../images/banner/banner1.png') ;
    background-position: top center;
    
    
}
/* Banner h1 text style */
.header{
    margin: 215px 245px 5px 845px;
    font-weight: 700px;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}
/* Banner paragraph style */
.sub-header{
    margin: 5px 245px 32px 845px;
    font-size: 16px;
    text-align: right;
    color: #444343;
}
/* Button contact us style */
.btn-contact-us{
    margin: 0 230px 100px 1190px;
    width: 160px;
    height: 64px;
    border: 0;
    background:#F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 20px 20px 25px;   
}

/* Previous year section styles */

.previous-year{
    margin: 370px 345px 32px 600px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    width: 288px;
    height: 94px;
    text-align: left;
    
}
.previous-year-text{
    margin: 10px 216px 10px 600px;
    color: #151414;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;


}
.previous{
    
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 730px;
    margin: 140px 0 100px 200px;
    
    background-position: left;
    display: flex;
}
.pre-text ul{
    margin-left: 575px;
    color: #444343;
}
.title{
    margin: 30px 100px 10px 100px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    margin-bottom: 30px;
    
}
.plans-container{
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
    
    
}
.plans-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.plans-description{
    font-size: 20px;
    font-weight: 500;
}
.contact-section{
    margin: 5% 10%;
}

.contact-container{
    background-image:
    linear-gradient(90deg,#F15B22 0%, rgba(0, 95, 172, 0) 100%),
    url('../images/watch.png');
    width:90%;
    height: 220px;
    background-size: cover;
    color: white;
    padding:20px 40px;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 130px;
}

.contact-title{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.contact-btn{
    font-size: 16px;
    font-weight: 600;
    margin-top: 19px;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    color: #F15B22;
    background-color: #ffffff;
    border-style: none;
    cursor: pointer;
}
/* goal section css start  */

.my-goal-section {
    margin-bottom: 70px;
    margin-top: 70px;
}


.my-goal-section h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    color: #151414;
    text-align: center;
}

.goal-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.goal{
    text-align: center;
    padding: 15px;
    border: 1px solid orange;
    border-radius: 10px;
}

.goal img {
    width: 100px ;
    height: 150px;
    border-radius: 10px;
}
/* footer section  */

.footer-container{
    padding: 5% 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #151414;
}


.footer-title{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-details{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-right h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

input{
    border-color: #ffffff;
    height: 50px;
    width: 250px;
    background-color: #151414;
    border-radius: 5px;
    margin-bottom: 20px;
}

.subs-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: #F15B22;
    background-color: #ffffff;
    cursor: pointer;
}
